html {
    height: 100%;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Carter One', cursive;
}
h1 {
    padding: 20% 0rem 0rem 0rem;
    
    font-size: 3rem;
 

    text-transform: uppercase;
}






#name {
    
    text-transform: uppercase;
    
    font-size: 8rem;
    color: #FFD700;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    
    transition: all 1.5s;
    
}

body {
    
    
    background-color: #232323;
    color: white;

    
    
}

#container {
    
    text-align: center;
   
    
}



.genreChoice {
  
   width: 20rem;
    height: 5rem;
   text-transform: uppercase;
    background-color: grey;
    color: white;
    outline: none;
   text-align-last:center;
    font-size: 1.5rem;
border-radius: 5px;
    
}

.generator {
    
    width: 20rem;
    height: 5rem;
   text-transform: uppercase;
    background-color: grey;
    color: white;
    outline: none;
    font-size: 1.5rem;
    border-radius: 5px;

}

.generator:hover {
    transform: translateY(-3px);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); } 


.generator:active, .generator:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

#ideas {
    
   
         padding-top: 2rem;
 text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    
}

#display list {
    
     padding-top: 4rem;
     text-transform: uppercase;
}



.blackmetal {
    
    font-family: 'New Rocker', cursive;
    font-weight: 100;
    font-size: 80%;

}

.doommetal {
    
    font-family: 'Metal Mania', cursive;

}

.goth {
     font-family: 'Dosis', sans-serif;


    
}

a:link {
   text-decoration:  none;  
    color: white;
}
a:visited {text-decoration:  none;  
    color: white;}